.instagram-icon {
    color: #28a7e9;
    font-size: 1.5em;
  }
  /* Contact.css */
.form-control {
    background-color: transparent; /* Establece el fondo del formulario como transparente */
    border: 1px solid #28a7e9; /* Añade un borde alrededor de los campos del formulario */
    color: #FFFFFF; /* Cambia el color del texto del formulario a blanco */
  }
  
  /* Estilos adicionales para el borde del formulario */
  .form-control:focus {
    border-color: #28a7e9; /* Cambia el color del borde al enfocar el campo */
    box-shadow: none; /* Elimina el efecto de sombra al enfocar el campo */
  }
  .celest-text {
    color: #28a7e9; /* Color celeste */
  }
  .contact-section {
    background-color: #000000; /* Color negro */
    padding: 60px 0; /* Ajusta el padding según sea necesario */
  }
/* Estilos para la animación bounceIn */
@keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.1);
    }
    60% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Estilos para la animación fadeIn */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Estilos para la animación fadeInLeft */
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Estilos para la animación fadeInRight */
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Aplicar la animación a los elementos con la clase 'wow' */
  .wow {
    visibility: hidden;
  }
  
  /* Aplicar la animación 'bounceIn' a los elementos con la clase 'bounceIn' */
  .bounceIn {
    animation-name: bounceIn;
  }
  
  /* Aplicar la animación 'fadeIn' a los elementos con la clase 'fadeIn' */
  .fadeIn {
    animation-name: fadeIn;
  }
  
  /* Aplicar la animación 'fadeInLeft' a los elementos con la clase 'fadeInLeft' */
  .fadeInLeft {
    animation-name: fadeInLeft;
  }
  
  /* Aplicar la animación 'fadeInRight' a los elementos con la clase 'fadeInRight' */
  .fadeInRight {
    animation-name: fadeInRight;
  }
  /* Estilos para la animación del formulario */
@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px); /* Mueve el formulario hacia la izquierda */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* Restaura la posición original del formulario */
    }
  }
  
  /* Aplica la animación de fadeInLeft al formulario */
  .form-animation {
    visibility: visible;
    animation-delay: 0.9s;
    animation-name: fadeInLeft;
  }
  