/* Contenedor principal del componente */
#planificacion h2 {
  color: #000; /* Asegura que el texto "Administración Financiera" sea negro */
  text-align: center;
  font-size: 40px;
  padding-bottom: 40px;
  text-transform: uppercase; /* Pone el texto en mayúsculas */
  margin-top: 60px; /* Espacio superior para separar del margen de la sección anterior */
}

/* Tarjetas de planificación */
.planning-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.planning-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Títulos de servicio */
.planning-service-title {
  font-size: 1.5rem;
  color: #333;
  margin-top: 15px;
}

/* Descripción de la tarjeta de planificación */
.planning-card-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

/* Estilos para las listas dentro de los cards */
.planning-card-description ul {
  list-style-type: none; /* Quita las viñetas predeterminadas */
  padding-left: 0; /* Quita el espacio de las viñetas predeterminadas */
  margin: 0;
}

.planning-card-description ul li {
  position: relative;
  padding-left: 40px; /* Ajusta el espacio para las viñetas personalizadas */
  margin-bottom: 10px; /* Espacio entre cada ítem de la lista */
  font-size: 1rem;
  color: #555;
  line-height: 1.5; /* Ajusta la altura de la línea para el texto */
  display: flex; /* Utiliza Flexbox para alinear verticalmente */
  align-items: center; /* Alinea verticalmente el texto con la viñeta */
}

/* Personaliza el icono antes de cada ítem */
.planning-card-description ul li::before {
  content: '·'; /* Usa el símbolo '·' como viñeta */
  color: #000; /* Color negro para el símbolo */
  position: absolute;
  left: 0; /* Ajusta la posición horizontal del símbolo */
  font-size: 1.6rem; /* Tamaño del símbolo, ajustado para mayor visibilidad */
  top: 50%; /* Posiciona el símbolo verticalmente al centro */
  transform: translateY(-50%); /* Ajusta la posición vertical del símbolo para centrarlo con el texto */
}


/* Negrita para el texto resaltado */
.bold-text {
  font-weight: bold;
  color: #000;
}

/* Estilo para los íconos */
.planning-icon {
  margin-right: 8px;
  color: #000;
}

/* Asegura que los elementos WOW tengan visibilidad */
.wow {
  visibility: hidden;
}

/* Media Queries para dispositivos móviles y tabletas */
@media (max-width: 767px) {
  .planning-card-description ul li::before {
    font-size: 1.2rem; /* Ajusta el tamaño de la viñeta en dispositivos móviles */
  }
}
