#service h4 {
    color: #ffffff;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 14px;
}
h2 span {
    color: #FFFFFF;
    font-weight: bold;
}
h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
}


body {
    background: #303030;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}
#service h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
    color: #FFFFFF; /* Establece el color del texto "NUESTROS" como blanco */


}




  
.icon-text-container {
    display: flex;
    align-items: center; /* Centra verticalmente */
  }
  
  .icon {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
  }
  
  .service-text {
    margin: 0; /* Elimina el margen del texto para evitar espacios */
    display: inline-block; /* Permite alinear verticalmente el texto */
    vertical-align: middle; /* Alinea verticalmente el texto */
  }
  
  
  .service-item {
    position: relative;
  }
  
  .icon {
    position: absolute;
    top: -20px; /* Ajusta esta propiedad según sea necesario para alinear el icono con el texto */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .service-text {
    margin-top: 20px; /* Ajusta esta propiedad para dar espacio entre el icono y el texto */
  }
  
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .wow.fadeInUp {
    animation-name: fadeInUp;
  }
  