.custom-margin {
    margin-right: 10px; /* Ajusta este valor según sea necesario */
  }
  .turno-section {
    background-color: white;
  }
  /* Estilos para el contenido del modal */
.modal-body {
  color: #000000; /* Establece el color del texto en negro */
}
