.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.4);
}

.whatsapp-icon {
  font-size: 35px; /* Tamaño adaptable */
  color: #fff;
}

/* Ajustes para celulares */
@media (max-width: 768px) {
  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
  }

  .whatsapp-icon {
    font-size: 28px;
  }
}
