.header-navbar-container {
  display: flex;
  flex-direction: column; /* Por defecto vertical para móviles */
}

/* Escritorio */
@media (min-width: 769px) {
  .header-navbar-container {
    flex-direction: column; /* si querés Navbar arriba y Header debajo siempre */
  }

  .navbar-section {
    order: 1;
  }

  .header-section {
    order: 2;
  }
}

/* Móviles ya está vertical, Navbar arriba, Header abajo */
